
img {
    width: 200px;
  }

p {
    max-width: 800px;
    margin:0 auto;
}

a {
    color: aliceblue;
}
body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background: slategray;
    color: wheat;
}